@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .outline-sidebar-wrapper,
  .course-sidebar {
    width: 300px !important;
    max-width: 30%;
    float: left;
    flex-shrink: 0;
    margin-right: 20px;
    height: auto;
  }

  .course-main-content {
    width: calc(100% - 320px);
    float: right;
  }
}

.outline-sidebar-wrapper {
  flex-shrink: 0;
  margin-right: 1rem; /* equivalent to Tailwind's mr-4 */
  max-width: 30%;
  height: auto;
}

.fixed-bottom, .fixed-top {
  position: relative;
}